body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Login */
.login-form .input-field input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.login-form .input-field input:focus + label, .login-form .input-field .prefix.active {
    color: #ffeb3b!important;
}

/* Loader */
.loader {
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Home */
.block {
  height: 100%;
}

.profile_interface {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    .profile_interface {
        padding-left: 0;
    }
}

/* Sidenav */
.pfpIcon {
  float: left;
}

.username {
    position: relative;
    top: 5px;
    margin: auto 10px;
    font-size: 22px;
    font-weight: 500;
}

.verified_icon {
    position: relative;
    top: 6px;
}

.logout_button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.user_hours .hours_text {
    color: #616161;
    margin-left: 5%;
    padding-left: 5%;
    width: 60%;
    float: left;
    border-left: 2px solid #2196f3;
    line-height: 20px;
}

.user_hours .hours {
    width: 20%;
    color: #9e9e9e;
    margin-right: 10%;
    float: right;
    text-align: right;
    line-height: 20px;
    transform: translateY(-1px);
}

.user_hours .hours:after {
    clear: all;
}
