.tail-datetime-calendar {
    position: relative;
    transform: translateY(-33px);
    width: 100%;
    min-height: 100vh;
    display: block;
    overflow: hidden;
    border-collapse: separate;
}
      

.tail-datetime-calendar:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    visibility: hidden;
}

.calendar-navi {
    width: 100%;
    padding: 10px 0;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    border-bottom: 1px solid #e0e0e0;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.0525); */
    /* -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1125); */
}

.calendar-navi span {
    vertical-align: top;
    width: 40px;
    padding: 0;
    transform: translateX(40px);
}

.calendar-navi span i {
    cursor: pointer;
    padding: 4px;
    transform: translateY(8%);
    user-Select: none;
}

.calendar-navi span i:hover {
    background: rgba(60, 60, 60, 0.05);
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.calendar-navi a.calendar-label {
    position: relative;
    margin-left: 10px;
    background: transparent;
    padding-left: 12px;
    padding-right: 4px;
    color: black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    border: 1px solid #bdbdbd;
}

.calendar-navi a.calendar-label i {
    vertical-align: middle;
    transform: translateY(-2px);
}

.calendar-data {
    margin: 0;
    padding: 0;
    display: block;
}

.calendar-data table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.calendar-data table thead tr > *,
.calendar-data table tbody tr > * {
    padding: 0;
    text-align: center;
    font-weight: normal;
}

.calendar-data table thead tr > * {
    height: 35px;
    font-size: 14px;
}

.calendar-data table tbody tr > * {
    position: relative;
    height: 129px;
    padding: 8px;
    font-size: 14px;
    vertical-align: text-top;
    width: 10%;
}

.calendar-data table tbody tr > * .date-number {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2.5px;
    padding-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
}

/* Select a Day */
.calendar-data .calendar-day tbody tr .add_event {
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.calendar-data table tbody tr .add_event:hover {
    background: #fff9c4;
}

.calendar-data .calendar-day tbody tr .add_event i {
    transform: translate(0.5px, 8.0px);
    display: none;
}

.calendar-data table tbody tr .add_event:hover i {
    display: block;
}

.calendar-data table tbody tr > *.today div {
    color: #fff;
    background: #2196f3;
}

.calendar-data table tbody tr > *:hover div.date-number {
    color: #fff;
    background: #90caf9;
}

.calendar-data table tbody tr > *.empty,
.calendar-data table tbody tr > *.disable {
    color: #8899aa;
    cursor: default;
    background-color: transparent;
}

.calendar-data table tbody tr > *.empty:hover:after,
.calendar-data table tbody tr > *.disable:hover:after {
    content: "";
    display: none;
}


/* Events */
.calendar-day .event-wrapper {
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 5px;
    padding: 1px;
}

.calendar-day .event-wrapper .time {
    float: left;
    margin-left: 5px;
}
  