.login-form .input-field input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.login-form .input-field input:focus + label, .login-form .input-field .prefix.active {
  color: #ffeb3b!important;
}